* {
  box-sizing: border-box;
}

*::before {
  box-sizing: inherit;
}
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  font-size: 1em;
  font-family: Helvetica, sans-serif;
  line-height: 1.5;
  background-image: url('./pattern.jpg');
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
  color: orange;
}

.container {
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  width: 300px;
  height: 500px;
  padding: 1.5em;
  background: #000;
  color: #fff;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textInput {
  padding: 1em;
  min-width: 300px;
  background: #fafafa;
  border: 1px solid orange;
  border-radius: 16px;
}

@media screen and (min-width: 700px) {
  .card {
    width: 500px;
  }
}
